kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: must-gather-operator
  namespace: {{ .Release.Namespace }}  
subjects: 
- kind: ServiceAccount
  name: must-gather-operator
roleRef:
  kind: Role
  name: must-gather-operator
  apiGroup: rbac.authorization.k8s.io